
<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Nextevent</h1>
    <p>Nextevent is the best place to organize, share and find attendees to your next business event.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Create an event &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <h2><%= event.title %></h2>
        <p> <%= event.description%> </p>
        <p><a class="btn btn-secondary" href="<%=event_path(event.id)%>" role="button">View details</a></p>
      </div>
    <%end%>
  </div>

  <hr>

</div> <!-- /container -->

</main>

